streamlit
pandas
numpy
matplotlib
scikit-learn
plotly
requests
seaborn                                               
nltk 
query 
streamlit-option-menu
numerize
streamlit-themes
keras 
trackable 
